*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 100vh;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.music-player{
  background: #ffe0e5;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
  border-radius: 20px;
}
nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
nav .circle{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #fff;
  line-height: 40px;
  color: #f53192;
  box-shadow: 0 0px 10px rgba(255, 26, 26, 0.6);
}
.song-img{
  width: 250px;
  border-radius: 20%;
  border: 3px solid #fff;
  box-shadow: 0 10px 60px rgba(255, 26, 26, 0.9);
}
.music-player h1{
  font-size: 25px;
  font-weight: 600;
  color: #333;
  margin-top: 25px;
}
.music-player p{
  font-size: 18px;
  color: #333;
}
#progress{
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #f53192;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}
#progress::-webkit-slider-thumb{
  -webkit-appearance: none;
  background: #f53192;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 9px rgba(255, 26, 26, 0.9)
}